{% extends "base.twig" %}

{% block title %}Parcourir{% endblock %}

{% block content %}
    <main class="explore">
        <aside id="panneau">
        <br>
        <br>
            <div id="filtrage">
                <h3 class="inter-bold">Filtrer</h3>
                <form action="index.php?action=filterstudents" method="post">
                    <input type="text" placeholder="Rechercher des étudiants" name="keywords">
                    <br>
                    <button type="submit">Appliquer</button>
                </form>
        </aside>
        </div>
        <section class="offres">
            {% for student in students %}
                <a href="?uri=/profile&idUser={{ student.ID }}">
                    <div class="offre {% if loop.index % 3 == 1 %}
                                rouge
                            {% elseif loop.index % 3 == 2 %}
                                jaune
                            {% else %}
                                vert
                            {% endif %}">
                        <div class="offre-head-apercu">
                            <h4>{{ student.FIRSTNAME }} {{ student.LASTNAME }}</h4>
                            <div class="tags">
                                <span class="fond-{% if loop.index % 3 == 1 %}rouge{% elseif loop.index % 3 == 2 %}jaune{% else %}vert{% endif %}">{{ student.MAIL }}</span>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
            <div class="pagination">
                {% if page > 1 %}
                    <a href="?uri=/browse&page={{ page - 1 }}">Précédent</a>
                {% endif %}
            
                <span> | </span>
            
                {% if page < totalPages %}
                    <a href="?uri=/browse&page={{ page + 1 }}">Suivant</a>
                {% endif %}
                <span id="pages"> Page {{ page }} / {{ totalPages }} </span>
            </div>
        </section>
    </main>
{% endblock %}
